@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
  --grey: rgb(216, 216, 216);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'League Spartan', sans-serif;
  color: #333;
  line-height: 1.6;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 15px;
  padding: 0;
}

h3 {
  font-size: 22px;
  font-weight: bold;
  margin: 15px;
  padding: 0;
}

p {
  font-size: 18px;
  margin: 15px;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Navbar */
.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
}

.navbar ul {
  display: flex;
  list-style-type: none;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}

.navbar ul a:hover {
  border-bottom: 2px #fff solid;
}

.navbar .flex {
  justify-content: space-between;
}

/* SlideShow */
.bienvenida {
  height: 400px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}

.bienvenida h1 {
  font-size: 40px;
  font-weight: bold;
  margin: 15px;
  padding: 0;
}

.bienvenida img {
  height: auto;
  width: 30%;
}

.bienvenida .flex {
  flex-direction: column;
}

/* Nosotros */
.nosotros {
  height: 500px;
  background-color: var(--grey);
  color: var(--dark-color);
  position: relative;
}

.nosotros .flex {
  flex-direction: column;
}

.objetivos .flex {
  align-items: flex-start;
  justify-content: space-around;
}

/* Miembros del equipo */

.integrantes {
  height: 550px;
  background-color: var(--primary-color);
  color: var(--light-color);
}

.integrantes .flex {
  align-items: start;
}

.integrantes h2 {
  margin: 30px;
}

.integrantes p {
  font-weight: bold;
}

/* Página de cada miembro */

.about {
  height: 200px;
  background-color: var(--primary-color);
  color: var(--light-color);
  position: relative;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: stretch;
}

.about h1 {
  font-size: 50px;
  font-weight: bold;
  margin: 15px;
  padding: 0;
}